<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="Logo">
    <ion-img
      src="/assets/logo.png"
      alt="Logo"></ion-img>
      <h1>LSN Consult - Consultoria em TI</h1>
      <h6>Razão social: Leonardo da Silva Nichele 85277231072</h6>
      <h1>CNPJ: 42.907.335/0001-38</h1>
      <br><br><br><br>
      <h1>Sistema de gestão empresarial. Versão 1.0</h1>
      <br><br><br><br>
      <br><br><br><br>
      <h2>Desenvolvido pelo Grupo 3, equipe de estudantes da Unisinos (Universidade do Vale do Rio Dos Sinos)</h2>
  </div>
  
</ion-content>  