#Logo ion-img {
    width: 5em;
}

#Logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

#Logo h1 {
    font-size: 1em;
    font-weight: bold;
}