#Logo ion-img {
    width: 5em;
}

#Logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

#Logo h1 {
    font-size: 1em;
    font-weight: bold;
}
#Logo h6 {
    font-size: 0.8em;
    line-height: 0.1;
}
#Logo h2 {
    text-align: center;
    font-size: small;
    color: yellow;
}