<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Login" href="/tabs/Login">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Estoque" href="/tabs/Estoque">
      <ion-icon aria-hidden="true" name="file-tray-outline"></ion-icon>
      <ion-label>Estoque</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Sobre" href="/tabs/Sobre">
      <ion-icon aria-hidden="true" name="contract-outline"></ion-icon>
      <ion-label>Sobre</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
